Repository zploskey/bs-puppeteer: changes, and which lint-staged commands are due for each by the changed paths.
All: bsrefmt --in-place, jest --bail --findRelatedTests

.lintstagedrc:

---
"{src,examples,__tests__}/**/*.{re,rei}":
  - "bsrefmt --in-place"
  - "git add"
"lib/js/**/*.js":
  - "jest --bail --findRelatedTests"

Add geolocation feature (Page.setGeolocation)
  lib/js/src/Page.js
  src/Page.re
Due: bsrefmt --in-place, jest --bail --findRelatedTests

fix: remove t-last wrapper for setBypassCSP
  lib/js/src/Page.js
  src/Page.re
Due: bsrefmt --in-place, jest --bail --findRelatedTests

chore: update puppeteer to 1.8
  package.json
  yarn.lock
Due: none

Add Response.statusText()
  src/Response.re
Due: bsrefmt --in-place

Add Response.remoteAddress()
  src/Response.re
Due: bsrefmt --in-place

fix: Response.remoteAddress needs to be a Js.t
  src/Response.re
Due: bsrefmt --in-place

Fix some issues with Request.continue overrides
  lib/js/src/Request.js
  src/Request.re
Due: bsrefmt --in-place, jest --bail --findRelatedTests

Apply final unit argument to overrides constructor
  lib/js/src/Request.js
  src/Request.re
Due: bsrefmt --in-place, jest --bail --findRelatedTests

Use variant for ignoreDefaultArgs launch option
  __tests__/puppeteer_test.re
  lib/js/__tests__/puppeteer_test.js
  lib/js/src/Launcher.js
  lib/js/src/Puppeteer.js
  src/Puppeteer.re
Due: bsrefmt --in-place, jest --bail --findRelatedTests

Just run whole test suite in precommit
  .lintstagedrc
  package.json
Due: none

Use sandbox in ignoreDefaultArgs tests
  __tests__/puppeteer_test.re
  lib/js/__tests__/puppeteer_test.js
Due: bsrefmt --in-place, jest --bail --findRelatedTests

Use variant for ignoreDefaultArgs launch option (#88)
  .lintstagedrc
  __tests__/puppeteer_test.re
  lib/js/__tests__/puppeteer_test.js
  lib/js/src/Launcher.js
  lib/js/src/Puppeteer.js
  package.json
  src/Puppeteer.re
Due: bsrefmt --in-place, jest --bail --findRelatedTests

Add snap and snap-diff package commands
  .gitignore
  jest.config.js
  package.json
Due: none

docs: Describe snapshot workflow
  README.md
Due: none

docs: Remove link to TypeScript definitions
  README.md
Due: none

Update changelog
  HISTORY.md
Due: none

Remove deprecated Launcher module
  HISTORY.md
  src/Launcher.re
Due: bsrefmt --in-place

Add bs-webapi dev dependency
  bsconfig.json
  package.json
  yarn.lock
Due: none

test: Refactor using Webapi.Dom.Element.outerHTML
  __tests__/puppeteer_test.re
Due: bsrefmt --in-place

test: refactor using Webapi.Dom.HtmlElement.value
  __tests__/puppeteer_test.re
Due: bsrefmt --in-place

test: refactor to use Webapi.Dom.NodeList.length
  __tests__/puppeteer_test.re
Due: bsrefmt --in-place

test: refactor to use Dom.Element.getAttribute
  __tests__/puppeteer_test.re
Due: bsrefmt --in-place

fix: evaluateHandle return types
  src/Evaluator.re
Due: bsrefmt --in-place

test: get document using external
  __tests__/puppeteer_test.re
Due: bsrefmt --in-place

example: use textContent from Webapi in search ex
  bsconfig.json
  examples/search.re
Due: bsrefmt --in-place

Retool search example to use a different site
  examples/search.re
Due: bsrefmt --in-place

Make jsHandle and elementHandle container types
  src/ConsoleMessage.re
  src/ElementHandle.re
  src/Evaluator.re
  src/ExecutionContext.re
  src/FrameBase.re
  src/JSHandle.re
  src/Page.re
  src/Types.re
Due: bsrefmt --in-place

Reconcile types of two queryObjects functions
  src/ExecutionContext.re
Due: bsrefmt --in-place

Make handle types covariant
  src/Types.re
Due: bsrefmt --in-place

Unignore error 44, fix self-imports
  __tests__/puppeteer_test.re
  bsconfig.json
  examples/logHtml.re
  examples/search.re
  examples/takeScreenshot.re
Due: bsrefmt --in-place

scripts: rebuild before snap-diff
  package.json
Due: none

readme: Recommend bs-webapi
  README.md
Due: none

Update changelog for 0.11.0
  HISTORY.md
Due: none

0.11.0
  HISTORY.md
  package.json
Due: none

Add .npmignore used for publishing
  .npmignore
Due: none

readme: fix namespace and point to launch fn
  README.md
Due: none

First pass at EventEmitter bindings
  src/Events.re
Due: bsrefmt --in-place

docs: fix readme typo
  README.md
Due: none

Update package urls
  README.md
  package.json
Due: none
